<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <title>Scenarios</title>
</head>
<body>
<div class="container">
    <h1 class="my-0 font-weight-normal">Lasagna Future Day - Interview</h1>
    <p class="my-0 font-weight-normal">Answer a few simple questions to receive your LFD title.</p>

    <form id="scenariosForm">
        <div class="row">
            {% for scenario in scenarios %}
            {% set outer_loop = loop %}
            <div class="col-12 mb-4">
                <div class="card box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ scenario.text }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="choices">
                            {% for choice in scenario.choices %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="response_{{ outer_loop.index0 }}" value="{{ choice }}">
                                <label class="form-check-label">{{ choice }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <input type="hidden" name="scenario_{{ outer_loop.index0 }}" value="{{ scenario.text }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Submit</button>
    </form>
    <div class="result"></div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('#scenariosForm').on('submit', function(event){
            event.preventDefault();
            var form = $(this);
            var submitButton = form.find('button[type="submit"]');
            submitButton.prop('disabled', true); // Disable the submit button

            $.ajax({
                url: '/submit_response',
                method: 'POST',
                data: form.serialize(),
                success: function(data){
                    $('.result').html('<h2>Your Title: ' + data.title + '</h2>');
                    submitButton.prop('disabled', false); // Re-enable the submit button
                },
                error: function(xhr, status, error){
                    $('.result').html('<h2>Error: ' + xhr.responseText + '</h2>');
                    submitButton.prop('disabled', false); // Re-enable the submit button
                }
            });
        });
    });
</script>
</body>
</html>
